@mixin btn($bg-color:#e2e2e2){
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding:$base-padding $base-padding*2;
    border-radius: $base-border-radius;
    background-color: $bg-color;
}

.btn{
    @include btn;
}

@each $key,$val in $colors{
    .btn-#{$key}{
        @include btn($val);
        color:$white;
        &:hover{
            background-color:lighten($val,5);
        }
    }
   .btn-outlined-#{$key}{
    @include btn(#fff);
    border:$base-border-thickness solid $val;
   }
    
}