@use 'sass:math';
.card{
    display: block;
    padding:$base-padding;
    border:$base-border-thickness solid #ddd;
    box-shadow:$base-box-shadow;
    border-radius:math.div($base-border-radius,4);

    .card-title{
        font-size:$base-font-size*1.5;
        padding-bottom:$base-padding;
        font-weight:bold;


    }
    .card-body{
        font-size: 1rem;
    
    
        a{
            text-decoration: underline;
        }
    }

}